body {
  font-family: "Poppins", sans-serif;

  .hero-section {
    background: rgb(215, 245, 245);
    padding-block: 5rem;
    .hero-section-inner {
      margin-inline: 5rem;

      .hero-header {
        font-size: 1.5rem;
        font-weight: 700;
      }

      .inner-section-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        @media screen and (max-width: 1200px) {
          grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 992px) {
          grid-template-columns: 1fr;
        }
        .card-1 {
          background: white;
          padding: 1.5rem;
          border-radius: 10px;
          height: fit-content;
          .card-head {
            display: flex;
            justify-content: space-between;
            .card-head-left {
              display: flex;
              justify-content: space-between;
              gap: 1rem;
              .image {
                width: 4rem;
                height: 4rem;
                img {
                  border-radius: 50%;
                  width: 100%;
                  height: 100%;
                }
              }
              .card-name {
                margin-top: -1rem;
                .light {
                  margin-top: -2rem;
                  font-weight: 200;
                  color: #727272;
                }

                .bold {
                  font-weight: 700;
                  font-size: 1.5rem;
                }
              }
            }
            .social-media {
              margin-top: 0.8rem;
              i {
                color: #01acee;
                font-size: 2rem;
              }
            }
          }
          .card-body {
            color: #727272;
            margin-top: 0.8rem;
          }
          .card-footer {
            display: flex;
            justify-content: space-between;
            margin-top: 0.8rem;
            .card-footer-left {
              display: flex;
              gap: 0.5rem;
              p {
                margin-top: 0;
              }
              i {
                color: red;
                font-weight: 600;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }

  .page-body {
    display: flex;

    .page-body-inner {
      margin: 3rem auto;
      //   border: 1px solid red;
      width: 40%;
      @media screen and (max-width: 992px) {
        width: 70%;
      }
      @media screen and (max-width: 570px) {
        width: 80%;
      }
      .top-section {
        text-align: center;
        h2 {
          font-weight: 700;
        }
        p {
          font-weight: 300;
          color: #727272;
        }
      }

      .page-contents {
        border: 1.5px solid orange;
        padding-inline: 1.5rem;
        padding-block: 1.5rem;
        border-radius: 10px;
        background: #fbf8f3;
        .price-month {
          .period {
            color: #727272;
          }
          .amount {
            display: flex;

            .currency {
              font-size: 2.5rem;
              font-weight: 700;
            }
            .per-month {
              color: #727272;
              margin-top: 1.5rem;
            }
          }
        }
        .line {
          height: 1px;
          background: #727272;
          margin-top: 1rem;
        }
        .page-text {
          .green {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background: #2ed8ae;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .text-1 {
            display: flex;
            gap: 2rem;
            .desc {
              color: #727272;
            }
          }
        }
        button {
          width: 100%;
          margin-top: 1rem;
          border-radius: 10px;
          background: #01acee;
          display: flex;
          justify-content: center;
          outline: none;
          border: none;
          align-items: center;
          gap: 1rem;
          i {
            color: white;
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
            font-weight: 700;
            color: white;
          }
        }
      }
    }
  }
}
